<nav id="main-nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" id="imgNavbar">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/logo_kr.png" class="img-responsive pull-left"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="member-nav-menu" class="nav navbar-nav navbar-right">
        <li><a href="">로그인</a></li>
        <li><a href="">회원가입</a></li>
        <li><a href="">전체메뉴</a></li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Language
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </li>
        <li>
          <form action="" method="post" class="search-form">
            <input type="text" placeholder="검색어를 입력하세요" name="searchName"></input>
            <button type="submit" class="btn_t_search">
              <i class="fa-search">
                
              </i>
            </button>
          </form>
          <!-- <a id="myLogin" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a> -->
        </li>
      </ul>

      <ul id="main-nav-menu" class="nav navbar-nav">
        <li><a href="#">정부3.0정보관람</a></li>
        <li><a href="#">전시</a></li>
        <li><a href="#">과학교육</a></li>
        <li><a href="#">문화/행사/캠프</a></li>
        <li><a href="#">사이버과학관</a></li>
        <li><a href="#">예약/신청</a></li>
        <li><a href="#">고객지원</a></li>
        <li><a href="#">커뮤니티</a></li>
        <li><a href="#">과학관 소개</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main-banner-nav" class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div id="main-banner">
      <div>
        <img src="/assets/main_banner01.png" alt="Image" class="img-responsive">
      <!--<div class="carousel-caption">
            <h3>Sell $</h3>
            <p>Money Money.</p>
          </div>-->
      </div/> 
    </div>
  </div>
</div>
 
<div id="menu-nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item even">
        <a href="#" class="quick-link link2">
          <img src="/assets/icon_01.png" />
          <div>
            <p>예약 안내</p>   
            <h1>Reservation Guide</h1>                 
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="#" class="quick-link link1">
          <img src="/assets/icon_02.png" />
          <div>
            <p>관람 안내</p>  
            <h1>Exhibition Guide</h1>
          </div>      
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item even">
        <a href="#" class="quick-link link4">
          <img src="/assets/icon_03.png" />
          <div>
            <p>자원봉사</p>  
            <h1>Volunteer work</h1>
          </div> 
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="#" class="quick-link">
          <img src="/assets/icon_04.png" />
          <div>
            <p>사이버전시관&nbsp;&nbsp;</p>  
            <h2>Cyber Exhibition Hall</h2>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="#" class="quick-link link4">
          <img src="/assets/icon_05.png" />
          <div>
            <p>찾아오시는 길</p>  
            <h1>Location</h1>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="#" class="quick-link link5">
          <img src="/assets/icon_06.png" />
          <div>
            <p>자주 묻는 질문</p>  
            <h1>Operation Guide</h1>
          </div>  
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <nav id="menu-nav" class="navbar navbar-default">
  <div class="container-fluid">
    <ul id="menu-nav-menu" class="nav navbar-nav">
      <li>
        <a href="#">
          <img src="/assets/icon_01.png" />
          <div>
            <p>예약 안내</p>   
            <h1>Reservation Guide</h1>                 
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icon_02.png" />
          <div>
            <p>관람 안내</p>  
            <h1>Exhibition Guide</h1>
          </div>            
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icon_03.png" />
          <div>
            <p>자원봉사</p>  
            <h1>Volunteer work</h1>
          </div> 
        </a>
      </li>
      <li>          
        <a href="#">
          <img src="/assets/icon_04.png" />
          <div>
            <p>사이버전시관</p>  
            <h1>Cyber Exhibition Hall</h1>
          </div> 
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icon_05.png" />
          <div>
            <p>찾아오시는 길</p>  
            <h1>Location</h1>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/assets/icon_06.png" />
          <div>
            <p>자주 묻는 질문</p>  
            <h1>Operation Guide</h1>
          </div>             
        </a>
      </li>
    </ul>
  </div>
</nav>
 -->
<div id="main-content" class="container text-center">
  <div class="row">
    <!-- <div id="main-con"> -->
      <div class="col-sm-4">
        <img id="sub-banner" src="/assets/popupzone.png" class="img-responsive" style="width:100%" alt="Image">
        <div id="sub-info1">
          
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <div class='tabbable'>
            <ul class='nav nav-tabs' id='tab'>
              <li class='active'>
                <a data-toggle='tab' href='#tab-content-1'>공지사항</a>
              </li>
              <li>
                <a data-toggle='tab' href='#tab-content-2'>보도자료</a>
              </li>
              <li>
                <a data-toggle='tab' href='#tab-content-3'>체험 교육</a>
              </li>
            </ul>
            <div class='tab-content' id='tab-content'>
              <div class='tab-pane fade in active' id='tab-content-1'>
                <div>
                  <div><img src="/assets/notice.png"></div>
                  <div>
                    asdfasdf
                  </div>
                </div>
              </div>
              <div class='tab-pane fade' id='tab-content-2'>
                <p class='no-mg-b'>Causae perpetua partiendo id vis, eu accusamus disputando pri, dolore prodesset in his. Cetero feugait atomorum mel te, ut mel dolore eleifend. Eu ius utroque deleniti lobortis, quo ea facete virtute consequat. Vix ad tale splendide, id quem dolorem delicata sea sea.</p>
              </div>
              <div class='tab-pane fade' id='tab-content-3'>
                <p class='no-mg-b'>Eu magna mazim omnesque est, ignota lucilius ullamcorper ex usu. Cu sit altera vituperata, no sint conclusionemque has, altera nostro voluptatibus mei in. Nibh dicam ius ad, nusquam deleniti nominati ei quo. At eos prompta sententiae theophrastus, has ex dicant intellegat adipiscing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
    
    <div class="col-sm-4">
      <img id="calendar" src="/assets/calendar.png" style="width:100%" alt="Image">
      <div id="sub-info2">
        <div class="row">
          <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>       
        </div>
        <div class="row">
          <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>       
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <div class='tabbable'>
        <ul class='nav nav-tabs' id='tab'>
          <li class='active'>
            <a data-toggle='tab' href='#tab-content-1'>이달의 전시물</a>
          </li>
          <li>
            <a data-toggle='tab' href='#tab-content-2'>진행중인 행사</a>
          </li>
          <li>
            <a data-toggle='tab' href='#tab-content-3'>프로그램 소개 영상</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="myTab" class='col-sm-6'>
      <div class='tabbable'>
        <ul class='nav nav-tabs'>
          <li class='active'>
            <a data-toggle='tab' href='#tab-content-1'><img src="/assets/facebooklogo.png"></a>
          </li>
          <li>
            <a data-toggle='tab' href='#tab-content-2'><img src="/assets/twitterlogo.jpg"></a>
          </li>
          <li>
            <a data-toggle='tab' href='#tab-content-3'>Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>  

  <div id="sub-low" class="row">
    <div class="col-sm-3 sub-con">
      <img src="/assets/01.png" class="img-responsive" style="width:100%" alt="Image">
      <div id="">
        
      </div>
    </div>
    <div class="col-sm-3 sub-con">
      <img src="/assets/02.png" class="img-responsive" style="width:100%" alt="Image">
      <div id="">
        
      </div>
    </div>
    <div class="col-sm-3 sub-con">
      <img src="/assets/03.png" class="img-responsive" style="width:100%" alt="Image">
      <div id="">
        
      </div>
    </div>  
  </div>
  <div id="sub-con1" class="col-sm-3">
    <img src="/assets/facebook.png" class="img-responsive" style="width:100%" alt="Image">
  </div>
</div>

<div id="quick-link" >
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <img src="/assets/arrow_grey01" class="arrow left" alt=""/>
      </div>
      <div class="external-links col-sm-10" style="padding: 0;"> 
        <a href="#" target="_blank">
          <img src="/assets/familysite_01.png" alt="대한민국 청와대" />
        </a>
        <a href="#" target="_blank">
          <img src="/assets/familysite_02.png" alt="미래창조과학부" />
        </a>
        <a href="#" target="_blank">
          <img src="/assets/familysite_03.png" alt="국립중앙과학관" />
        </a>
        <a href="#" target="_blank">
          <img src="/assets/familysite_04.png" alt="국립서울과학관" />
        </a>
        <!-- <a href="#" target="_blank">
          <img src="/assets/familysite_05.png" alt="국립과천과학관 후원회 과학사랑희망키움" />
        </a> -->
        <a href="#" target="_blank">
          <img src="/assets/familysite_06.png" alt="한국저작권협회" />
        </a>
      </div>
      <div ="col-sm-1">
        <imclassg src="/assets/arrow_grey02" class="arrow right" alt=""/>
      </div>
    </div>
  </div>
</div>

<div id="quick-nav-items">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="row footer-links">
            <div class="col-md-8">
              <a href="/gnsm_web/?sub_num=307">
                이용약관
              </a>
              <a href="/gnsm_web/?sub_num=305">
                개인정보 취급방침
              </a>
              <a href="/gnsm_web/?sub_num=602">
                이메일 무단수신거부
              </a>
              <a href="/gnsm_web/popup/email/email.jsp" target="_blank">
                  운영자에게
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

  Add the extra clearfix for only the required viewport
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
</div>
<img src="footer_logo.png">
 -->

<div id="footer">
  <div class="footer-bottom">
    <div class="container">
      <div id="footer-nav" class="row">

        <div class="col-md-2 hidden-xs">
          <img id="footer-logo" src="/assets/footer_logo.png" class="img-responsive">
        </div>
        <div class="col-md-10">
          <div class="row footer-links">
            <div class="col-md-6">
              <p>경기도 과천시 상하별로 110 국립과천과학관</p> <br/>
              <p>Tel.02-3677-1500 Fax.02-3677-1328</p><br/>
              <small>COPYRIGHT(C) 2015 Gwacheon National Science Museum. ALL RIGHT RESERVED</small>
            </div>
            <div id="footer-side">
              <p>홈페이지<br/>이용안내</p>
              <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div class="col-md-4 item">
              <div class="dropup pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  관련 사이트 이동
                  <i class="fa fa-angle-up"></i>
                </a>
              </div>
            </div> -->
<!-- 
<div id="footer" class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <img src="/assets/footer_logo.png" class="img-responsive">  
      </div>
      <div id="copyright">
        
      </div>
      <div>
        
      </div>
    </div>
  </div>
</div>
 -->