<nav id="main-nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/logo_kr.png" class="img-responsive pull-left"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">로그인</a></li>
        <li><a href="">회원가입</a></li>
        <li><a href="">전체메뉴</a></li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Language
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </li>
        <li>
         <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>

      <ul id="main-nav-menu" class="nav navbar-nav">
        <li><a href="#">정부3.0정보관람</a></li>
        <li><a href="#">전시</a></li>
        <li><a href="#">과학교육</a></li>
        <li><a href="#">문화/행사/캠프</a></li>
        <li><a href="#">사이버과학관</a></li>
        <li><a href="#">예약/신청</a></li>
        <li><a href="#">고객지원</a></li>
        <li><a href="#">커뮤니티</a></li>
        <li><a href="#">과학관 소개</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main-banner-nav" class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div id="main-banner" class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/main_banner01.png" alt="Image" class="img-responsive center-block" style="margin: 0 auto">
      <!--<div class="carousel-caption">
            <h3>Sell $</h3>
            <p>Money Money.</p>
          </div>-->
      </div/> 
    </div>
  </div>
</div>
 
<div id="quick-nav-items">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item even">
        <a href="/gnsm_web/?sub_num=183" class="quick-link link2">
          이용 약관<br>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="/gnsm_web/?sub_num=265" class="quick-link link1">
          개인번호 취금방침<br>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item even  ">
        <a href="http://cyber.scientorium.go.kr/museum_renewal/index.jsp" target="_blank" class="quick-link link4">
          이메일 부단수신거부<br>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="/gnsm_web/?sub_num=214" class="quick-link link5">
          운영자에게<br>
        </a>
      </div>
    </div>
  </div>
</div>

<nav id="menu-nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div id="menuNavbar" class="collapse navbar-collapse">
      <ul id="menu-nav-menu" class="nav navbar-nav">
        <li>
          <a href="#">예약 안내</a>
        </li>
        <li><a href="#">관람 안내</a></li>
        <li><a href="#">자원봉사</a></li>
        <li><a href="#">사이버전시관</a></li>
        <li><a href="#">찾아오시는 길</a></li>
        <li><a href="#">자주 믇는 질문</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main-content" class="container text-center">
  <div class="row">
    <div id="main-con">
      <div class="col-sm-4">
        <img id="sub-banner" src="/assets/popupzone.png" class="img-responsive" style="width:100%" alt="Image">
        <div id="sub-info1">
          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <div class='tabbable'>
            <ul class='nav nav-tabs' id='tab'>
              <li class='active'>
                <a data-toggle='tab' href='#tab-content-1'>Tab 1</a>
              </li>
              <li>
                <a data-toggle='tab' href='#tab-content-2'>Tab 2</a>
              </li>
              <li>
                <a data-toggle='tab' href='#tab-content-3'>Tab 3</a>
              </li>
            </ul>
            <div class='tab-content' id='tab-content'>
              <div class='tab-pane fade in active' id='tab-content-1'>
                <p class='no-mg-b'>Lorem ipsum dolor sit amet, instructior conclusionemque pri an, reque principes euripidis in pri. Id postea periculis mel. Nam at dicta voluptatum, movet mundi commune ea eam, vim te repudiare inciderint vituperatoribus. Ex modo mucius volutpat quo, eos erat voluptua at, ad.</p>
              </div>
              <div class='tab-pane fade' id='tab-content-2'>
                <p class='no-mg-b'>Causae perpetua partiendo id vis, eu accusamus disputando pri, dolore prodesset in his. Cetero feugait atomorum mel te, ut mel dolore eleifend. Eu ius utroque deleniti lobortis, quo ea facete virtute consequat. Vix ad tale splendide, id quem dolorem delicata sea sea.</p>
              </div>
              <div class='tab-pane fade' id='tab-content-3'>
                <p class='no-mg-b'>Eu magna mazim omnesque est, ignota lucilius ullamcorper ex usu. Cu sit altera vituperata, no sint conclusionemque has, altera nostro voluptatibus mei in. Nibh dicam ius ad, nusquam deleniti nominati ei quo. At eos prompta sententiae theophrastus, has ex dicant intellegat adipiscing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <img id="calendar" src="/assets/calendar.png" style="width:100%" alt="Image">
      <div id="sub-info2">
        
      </div>
    </div>
  </div>
  <div id="sub-low" class="row">
    <div id="sub-con">
      <div class="col-sm-3">
        <img src="/assets/01.png" class="img-responsive" style="width:100%" alt="Image">
        <div id="">
          
        </div>
      </div>
      <div class="col-sm-3">
        <img src="/assets/02.png" class="img-responsive" style="width:100%" alt="Image">
        <div id="">
          
        </div>
      </div>
      <div class="col-sm-3">
        <img src="/assets/03.png" class="img-responsive" style="width:100%" alt="Image">
        <div id="">
          
        </div>
      </div>  
    </div>
    <div id="sub-con1" class="col-sm-3">
      <img src="/assets/facebook.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>

<!-- <div id="quick-nav-items">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item even">
        <a href="/gnsm_web/?sub_num=183" class="quick-link link2">
          이용 약관<br>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="/gnsm_web/?sub_num=265" class="quick-link link1">
          개인번호 취금방침<br>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item even  ">
        <a href="http://cyber.scientorium.go.kr/museum_renewal/index.jsp" target="_blank" class="quick-link link4">
          이메일 부단수신거부<br>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 quick-link-item">
        <a href="/gnsm_web/?sub_num=214" class="quick-link link5">
          운영자에게<br>
        </a>
      </div>
    </div>
  </div>
</div> -->

<div id="quick-nav-items">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="row footer-links">
            <div class="col-md-8">
              <a href="/gnsm_web/?sub_num=307">
                이용약관
              </a>
              <a href="/gnsm_web/?sub_num=305">
                개인정보 취급방침
              </a>
              <a href="/gnsm_web/?sub_num=602">
                이메일 무단수신거부
              </a>
              <a href="/gnsm_web/popup/email/email.jsp" target="_blank">
                  운영자에게
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer> -->
